<!DOCTYPE html>
<html>
<title>Admin</title><head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>

  <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="color:#fff;padding-top:3.7%;font-size: 18px;width:200px;background-color: rgb(73, 73, 73)" id="mySidebar">
    <button   class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">الغاء &times;</button>
    <h2 style="color: cornsilk;padding-right: 10%; text-align: right;" >القوائم</h2>
 <a href="/list/admins" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة المديرين </a>
 <a href="/list/teachers" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة المعلمين </a>
 <a href="/list/students" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة التلاميذ </a>
 <h2 style="color: cornsilk;padding-right: 10%; text-align: right;">الاحصاء</h2>
 <a href="/static/" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > صفحة الاحصاء </a>
 <h2 style="color: cornsilk;padding-right: 10%; text-align: right;">الطلبات</h2>
 <a href="/list/demande" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > صفحة الطلبات </a>
 <h2 style="color: cornsilk;padding-right: 10%; text-align: right;">الناجحين</h2>
 <a href="/list/seccus" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قاوائم الناجحين </a>
 </div>
  
  <div class="w3-main" style="margin-left:200px">
  <div  style="color:#fff;background-color: rgb(73, 73, 73)">
    <button class="w3-button  w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
    <div class="w3-container">
      <ul>
       
        <li class="activee" ><a href="/"><i class="fas fa-house-damage"></i>الصقحة الرئسية</a></li>

        <li><a href="/admin"><i class="far fa-edit"></i>اعدادات</a></li>
        <li class="nav-item active "> <% if (currentUser) { %>
          <a class="nav-link" href="/Logout"><i class="fas fa-sign-out-alt icon"></i>تسجيل الخروج   </a>  <% }  %>  </li>
 </ul>
</div>
  </div>
 
  <div class="w3-container" style="text-align: right">

<div class="container" style="padding-top: 2%;width: 50%;">
  <h2 style="text-align: center "> 
     اعدادات المراحل و الصفوف
</h2><br><br>
  <% errors.forEach(function(error) { %>
  <div class="alert alert-danger" style="text-align: right" role="alert">
  <%= error %>
  </div>
  <% }) %>
  <% infos.forEach(function(info) { %>
  <div class="alert alert-info" role="alert">
  <%= info %>
  </div>
  <% }) %>
</div>


 <!-- model for public -->
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#pubexampleModalCenter">
     اضافة اول اعلان في الصفحة الرئسية
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="pubexampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" dir="rtl">
          <div class="modal-header">
            
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
              <span aria-hidden="true">&times;  الغاء</span>
            </button>
          </div>
          
          <form action="/addpub" method="post">
          <div class="modal-body">
          
            <label>اكتب الاعلان</label>
             <input class="form-control" type="text" name="Pub" required>
             
       
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
            <button type="submit" type="submit" class="btn btn-primary">نشر الاعلان</button>
          </div>    </form>
        </div>
      </div>
    </div>

   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
اضافة مرحلة
  </button>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">  
        
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
                <span aria-hidden="true">&times;  الغاء</span>
              </button>
        </div><form action="/admin/addphase" method="post">
        <div class="modal-body">
          
        
         
              <div class="input-container">
                <label>ادخل المرحلة</label>
                  <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  placeholder="phase" name="Phase">
                  <label>ادخل رقم المرحلة</label>
                  <input class="form-control" type="number" style="text-align: right" placeholder="NumberOfPhase" name="NumberOfPhase">
                  
              </div>
         
    
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
          <button type="submit" class="btn btn-primary">حفظ</button>
        </div> </form>
      </div>
    </div>
  </div>
  <div id="app"  class="container" style="padding-top: 2%;width: 400px;"> 
    
 
    
    
  </div>


  <div style="overflow-x:auto;text-align: center">
      <table >
        <tr>
          <th style=" text-align: left">تعديل</th>
          <th>المرحلة</th>
          <th>#</th>
   
        </tr><% var i = 0  %><% var l = 0 %>
        <% phases.forEach(function(phase) { %>
          <% i = i + 1%>
         
        <tr 	BGCOLOR="rgb(73, 73, 73)" style="color:#fff; font-size: 20px">
          <td style=" text-align: left">  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#phase<%= phase._id%>Modal">
              تعديل 
              </button> <a href="/admin/deletephase/<%= phase._id%>" class="btn  btn-danger"> حذف</a></td>
          <th> <%= phase.Phase %></th>
          <th > <%= i %></th>
        </tr>
        <% levels.forEach(function(level) { %>
          <% if (JSON.stringify(phase._id) == JSON.stringify(level.phase)) {%>
            <tr> <% l = l + 1%>
                <td style=" text-align: left" ><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal<%= level._id %>">
                  تعديل
                </button> <a href="/admin/deletelevel/<%= level._id%>" class="btn btn-danger" > حذف</a> </td>
              <td><a href="/admin/phase/<%= level._id %>"><%= level.Level %></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                 <th style="font-size: 20px">  * &nbsp; &nbsp;</th>
                 
                  
                  <!-- Modal -->
                 
            </tr>
               <!-- Modal for update the level -->
               <div class="modal fade" id="exampleModal<%= level._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">  
                      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
              <span aria-hidden="true">&times;  الغاء</span>
            </button>
                      </div><form action="/admin/updatelevel/<%= level._id %>" method="post">
                      <div class="modal-body">
                        
                      
                       
                            <div class="input-container">
                                <label> تعديل الصف</label>
                                <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  value="<%= level.Level %>" name="Level">
                                <label> تعديل رقم الصف</label>
                                <input class="form-control" type="number" style="text-align: right" value="<%= level.NumberOfLevel %>" name="NumberOfLevel">
                                
                            </div>
                       
                  
                       
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn btn-primary">حفظ</button>
                      </div> </form>
                    </div>
                  </div>
                </div>


            <% } %> 
            <% })%>  
          <td style=" text-align: left">  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#example<%= phase._id%>Modal">
                اضافة صف
              </button></td> 
            <div class="modal fade" id="example<%= phase._id%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">  
                    
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
              <span aria-hidden="true">&times;  الغاء</span>
            </button>
                    </div><form action="/admin/<%= phase._id %>/<%= phase.Phase %>/addlevel" method="post">
                    <div class="modal-body">
                      
                    
                     
                          <div class="input-container">
                              <label>ادخل الصف</label>
                              <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  placeholder="Level" name="Level">
                              <label>ادخل رقم الصف</label>
                              <input class="form-control" type="number" style="text-align: right" placeholder="NumberOfLevel" name="NumberOfLevel">
                              
                          </div>
                     
                
                     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                      <button type="submit" class="btn btn-primary">حفظ</button>
                    </div> </form>
                  </div>
                </div>
              </div>

           


              <div class="modal fade" id="phase<%= phase._id%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">  
                        
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
              <span aria-hidden="true">&times;  الغاء</span>
            </button>
                      </div><form action="/admin/updatephase/<%= phase._id%>" method="post">
                      <div class="modal-body">
                        
                      
                       
                            <div class="input-container">
                                <label>تعديل المرحلة</label>
                                <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  placeholder="phase" name="Phase">
                                <label>تعديل رقم المرحلة</label>
                                <input class="form-control" type="number" style="text-align: right" placeholder="NumberOfPhase" name="NumberOfPhase">
                                
                            </div>
                       
                  
                       
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn btn-primary">حفظ</button>
                      </div> </form>
                    </div>
                  </div>
                </div>
        <% })%>  



      
            
            <!-- Modal -->
           
      </table>
    </div>
    
 
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
      
 
  
<!-- Button trigger modal -->






<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
    
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
