<!DOCTYPE html>
<html>
<title>لوحة التحكم</title><head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../node_modules/readmore-js/readmore.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/css/semster.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
</head>

<body>

    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="color:#fff;padding-top:3.7%;font-size: 18px;width:200px;background-color: #3b5999" id="mySidebar">
        <button   class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">الغاء &times;</button>
        <h2 style="color: cornsilk;padding-right: 10%; text-align: right;" >القوائم</h2>
     <a href="/list/admins" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة المديرين </a>
     <a href="/list/teachers" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة المعلمين </a>
     <a href="/list/students" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة التلاميذ </a>
     <h2 style="color: cornsilk;padding-right: 10%; text-align: right;">الاحصاء</h2>
     <a href="/static/" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > صفحة الاحصاء </a>
     <h2 style="color: cornsilk;padding-right: 10%; text-align: right;">الناجحين</h2>
   <a href="/list/success" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قوائم الناجحين </a>
 </div>
     <div class="w3-main" style="margin-left:200px">
        <div  style="color:#fff;background-color: #3b5999">
          <button class="w3-button  w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
          <div class="w3-container">
            <ul>
             
              <li><a href="/admin"><i class="far fa-edit"></i></a></li>
              <li class="nav-item active "> <% if (currentUser) { %>
                <a class="nav-link" href="/Logout"><i class="fas fa-sign-out-alt icon"></i>    </a>  <% }  %>  </li>
       </ul>
      </div>
        </div>
  <div class="w3-container" style="text-align: right">

<div class="container" style="padding-top: 2%;width: 50%;">
  <h2 style="text-align: center ">
   اعدادات الفصول و المواد
    
     
</h2><br><br>
  <% errors.forEach(function(error) { %>
  <div class="alert alert-danger" style="text-align: right" role="alert">
  <%= error %>
  </div>
  <% }) %>
  <% infos.forEach(function(info) { %>
  <div class="alert alert-info" role="alert">
  <%= info %>
  </div>
  <% }) %>
</div>




<div  >
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 اضافة فصل
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" dir="rtl">
        <div class="modal-header">  
         
         
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
            <span aria-hidden="true">&times;  الغاء</span>
          </button>
        </div>
        <form action="/admin/<%= onelevels._id %>/<%= onelevels.Level %>/addsemster" method="post">
        <div class="modal-body">
          
            <h3 id="exampleModalLabel" style="text-align:center">اضافة فصل</h3>
         
              <div class="input-container">
                  <label> الفصل </label>
                  <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  placeholder="الفصل" name="Semster">
                  <label> رقم الفصل </label>
                  <input class="form-control" type="number" style="text-align: right" placeholder="رقم الفصل" name="NumberOfSemster">
                  
              </div>
         
    
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
          <button type="submit" class="btn btn-primary">حفظ</button>
        </div> </form>
      </div>
    </div>
  </div>
  <div id="app"  class="container" style="padding-top: 2%;width: 400px;"> 
    
 
    
    
  </div>


<% var i = 0%>
      <% semsters.forEach(function(semster) { %>
      <% i = i + 1%>

<div style="overflow-x:auto;" class="container col-md-12 ">
  <table>
    <tr><th  style=" text-align: left">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ex<%= semster._id %>ampleModalCenter">
        <i class="fas fa-cog"></i> 
      </button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#e<%= semster._id %>xampleModalCenter">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </th>
      <th> <%= semster.Semster %> </th>
    
      <th ><%= i %></th>
     
    </tr>
   
    
    <!-- Modal -->
    <div class="modal fade" id="ex<%= semster._id %>ampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" dir="rtl">
          <div class="modal-header">  
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
                  <span aria-hidden="true">&times;  الغاء</span>
                </button>
            </button>
          </div><form action="/admin/<%= semster.level %>/<%= semster._id %>/updatesemster" method="post">
          <div class="modal-body">
              <h3 id="exampleModalLabel" style="text-align:center">  تعديل على الفصل</h3>
          
           
                <div class="input-container">
                  <label>تعديل الفصل </label>
                    <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  placeholder="الفصل"  value="<%= semster.Semster%>" name="Semster">
                    <label>  تعديل رقم الفصل </label>
                    <input class="form-control" type="number" style="text-align: right" placeholder="رقم الفصل" value="<%= semster.NumberOfSemster%>" name="NumberOfSemster">
                    </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
            <button type="submit" class="btn btn-primary">حفظ</button>
          </div> </form>
        </div>
      </div>
    </div>
  
    
    <!-- Modal -->
    <div class="modal fade" id="e<%= semster._id %>xampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" dir="rtl">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
              <span aria-hidden="true">&times;  الغاء</span>
            </button>
          </div>
          <div class="modal-body">
    
                          
                          <% var reslta = false %>
                          <% for (let x =  0;x < modules.length; x++) { %>
                            <% if (JSON.stringify(semster._id) == JSON.stringify(modules[x].semster)) {%>
                            <% reslta = true %>
                        
                            
                            <% break %>    
                            <% } %> 
                             <% }%>
              
                             <% if (reslta != false ) { %>
                          <div class="alert alert-danger" role="alert">
                             لا يمكنك حذف الفصل بعد اضافة المواد عليك بحذف المواد اولا ثم حذف القصل
                            </div>
                            <% } else  {  %>
                              <p>  هل انت متاكد من حذف الفصل 
                              <span style="color: red">" <%= semster.Semster  %> "</span> 
                              نهائيا
                            </p>
                            <% } %>
                            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
           

               <% if (reslta === false ) { %>
                <a href="/admin/<%= semster.level%>/deletesemster/<%= semster._id %> " class="btn btn-danger" >حذف</a>
                <% }%>
         
          </div>
        </div>
      </div>
    </div>
           
           
            <% modules.forEach(function(module) { %>
              <% if (JSON.stringify(semster._id) == JSON.stringify(module.semster)) {%>
                <tr>
                  <td  style=" text-align: left">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#example<%= module._id%>Modal">
                      <i class="fas fa-cog"></i> 
                      </button>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleMo<%= module._id %>dalCenter">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    
                  </td>
                
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleMo<%= module._id %>dalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content" dir="rtl">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
                            <span aria-hidden="true">&times;  الغاء</span>
                          </button>
                        </div>
                        <div class="modal-body">
                         <div class="alert alert-danger" role="alert">
                                  <h3>حذاري.....</h3>
                                  <p>اذ قمت بحذف  هذه المادة سيتم حذف  كل الامتحنات و الاسئلة المتعلقة بها</p>
                              </div>
                              <p>  هل انت متاكد من حذف المادة 
                                  <span style="color: red">" <%= module.Module  %> "</span> 
                                    نهائيا
                                  </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                          <a href="/admin/<%= semster.level%>/deletemodule/<%= module._id %>" class="btn btn-danger" >حفظ</a> 
                        </div>
                      </div>
                    </div>
                  </div>
                     <td><a href="/admin/exam/<%= module._id  %>"><%= module.Module %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
               </tr>
                
                     <div class="modal fade" id="example<%= module._id%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content" dir="rtl">
                            <div class="modal-header">  
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
                                    <span aria-hidden="true">&times;  الغاء</span>
                                  </button>
                              </button>
                            </div><form action="/admin/<%= semster.level %>/<%= module._id %>/updatemodule" method="post">
                            <div class="modal-body">
                              
                                <h3 id="exampleModalLabel" style="text-align:center"> تعديل على المادة</h3>
                             
                                  <div class="input-container">
                                    <label>  * تعديل على المادة</label>
                                      <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  value="<%= module.Module %>" name="Module">
                                      <label>  * تعديل على رقم المادة</label>
                                      <input class="form-control" type="number" style="text-align: right" value="<%= module.NumberOfModule%>" name="NumberOfModule">
                                      
                                  </div>
                             
                        
                             
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                              <button type="submit" class="btn btn-primary">حفظ</button>
                            </div> </form>
                          </div>
                        </div>
                      </div>
                     <% } %>
               
              <% })%>
             <tr>
                <td style=" text-align: left">  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#example<%= semster._id%>Modal">
                  <i class="fas fa-plus"></i> 
              </button>
            </td> 
            <div class="modal fade" id="example<%= semster._id%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content" dir="rtl">
                    <div class="modal-header">  
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:left" >
                            <span aria-hidden="true">&times;  الغاء</span>
                          </button>
                      </button>
                    </div><form action="/admin/<%= semster.level %>/<%= semster._id %>/addmodule" method="post">
                    <div class="modal-body">
                        <h3 id="exampleModalLabel" style="text-align:center">  اضافة مادة</h3>
                    
                     
                          <div class="input-container">
                            <label>المادة </label>
                              <input class="form-control" style="margin-right: 5px;text-align: right" type="text"  placeholder="المادة" name="Module">
                              <label> رقم المادة </label>
                              <input class="form-control" type="number" style="text-align: right" placeholder="رقم المادة" name="NumberOfModule">
                              
                          </div>
                     
                
                     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                      <button type="submit" class="btn btn-primary">حفظ</button>
                    </div> </form>
                  </div>
                </div>
              </div>
             </tr>
               
      </table></div>
      <br><br>
      <% })%>
   
    
<!-- Button trigger modal -->



  
    
      
<div class="footer"> copyright  © 2019 .  All rights reserved. Designed & Developed by <strong><a href="https://mostaql.com/u/Hocineismail">HOCINE ISMAIL</a> </strong>.</div>



<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
      <script src="vue/vue.js"></script>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>

