<!DOCTYPE html>
<html>
<title>لوحة التحكم</title><head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/static.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<style>
</style>
<body>

  <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="color:#fff;padding-top:3.7%;font-size: 18px;width:200px;background-color: rgb(73, 73, 73)" id="mySidebar">
    <button   class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
    <h2 style="color: cornsilk;padding-right: 10%; text-align: right;" >القوائم</h2>
 <a href="/list/admins" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة المديرين </a>
 <a href="/list/teachers" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة المعلمين </a>
 <a href="/list/students" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قائمة التلاميذ </a>
 <h2 style="color: cornsilk;padding-right: 10%; text-align: right;">الاحصاء</h2>
 <a href="/static/" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > صفحة الاحصاء </a>
<h2 style="color: cornsilk;padding-right: 10%; text-align: right;">الناجحين</h2>
 <a href="/list/success" style="border-top: 1px solid #fff; padding-right: 20%; text-align: right;" class="w3-bar-item w3-button" > قوائم الناجحين </a>
 </div>
  
  <div class="w3-main" style="margin-left:200px">
  <div  style="color:#fff;background-color: rgb(73, 73, 73)">
    <button class="w3-button  w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
    <div class="w3-container">
      <ul>
       


        <li><a href="/admin"><i class="far fa-edit"></i></a></li>
        <li class="nav-item active "> <% if (currentUser) { %>
          <a class="nav-link" href="/Logout"><i class="fas fa-sign-out-alt icon"></i>    </a>  <% }  %>  </li>
 </ul>
</div>
  </div>
  
  <div class="w3-container" style="text-align: right">

<div class="container" style="padding-top: 2%;width: 50%;">
  <h2 style="text-align: center "> 
    قائمة الاحصاء
</h2><br><br>
  <% errors.forEach(function(error) { %>
  <div class="alert alert-danger" style="text-align: right" role="alert">
  <%= error %>
  </div>
  <% }) %>
  <% infos.forEach(function(info) { %>
  <div class="alert alert-info" role="alert">
  <%= info %>
  </div>
  <% }) %>
</div>

    <div class="row">
         <div class="col-md-6">
            <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
         </div>
         <div class="col-md-6" style="margin-top: 3%">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">الاسئلة المجازة</th>
                    <th scope="col">الاسئلة المدققة </th>
                    <th scope="col">الاسئلة المراجعة</th>
                    <th scope="col">الاسئلة المدخلة </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> <%= CountValidFinal %></td>
                    <td><%= CountValidTwo %></td>
                    <td><%= CountValidOne %> </td>
                    <td><%= CountQuestions %></td>
                  </tr>
                 
                </tbody>
              </table>
         </div>
    </div>



    </div>
        
    
      
<div class="footer"> copyright  © 2019 .  All rights reserved. Designed & Developed by <strong><a href="https://mostaql.com/u/Hocineismail">HOCINE ISMAIL</a> </strong>.</div>

<script>
new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: [ "الاسئلة المجازة", "الاسئلة المدققة ", "الاسئلة المراجعة ", "الاسئلة المدخلة "],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#c45850"],
          data: [ <%= CountValidFinal %> , <%= CountValidTwo %> , <%= CountValidOne %> , <%= CountQuestions %>]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'جدول الاحصاء'
      }
    }
});
</script>
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"></script>
           <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
