<!DOCTYPE html>
<html >
<title>Admin</title><head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    </head>
<style>
body {
    font-family: 'Cairo', sgit ans-serif;
    background-color: rgb(240, 240, 240)
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

}

th, td {
  text-align: right;  padding: 8px;

}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
span {
  font-size: 20px
}

  body {
    font-family: 'Cairo', sans-serif;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

}

th, td {
  text-align: right;  padding: 8px;

}
tr:nth-child(even){background-color: #f2f2f2}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(73, 73, 73);
}

li {
  float: left;
  font-size: 20px
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  rgb(114, 114, 114);
  color: #f2f2f2;
  text-decoration: none
}
.activee  {
  background-color: rgb(73, 73, 73);
  color: #f2f2f2;
  text-decoration: none
}
.span {
  font-size: 18px;
  color: rgb(43, 93, 139) 
}
</style>
</style>
<body dir="rtl">

  <div class="topnav" id="myTopnav">
    <a href="/teacher">حسابي</a>
    <a href="/teacher/valid">مراجعة الاسئلة</a>
    <a href="/teacher/question">اضافة سؤال </a>
    <a href="/teacher/notvalid"> الاسئلة الغير مقبولة </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  

  <div class="w3-container" style="text-align: right">

<div class="container" style="padding-top: 2%;width: 50%;">
  <h2 style="text-align: center;  font-family: 'Cairo', sans-serif; "> 
حسابي
</h2><br><br>
  <% errors.forEach(function(error) { %>
  <div class="alert alert-danger" style="text-align: right" role="alert">
  <%= error %>
  </div>
  <% }) %>
  <% infos.forEach(function(info) { %>
  <div class="alert alert-info" role="alert">
  <%= info %>
  </div>
  <% }) %>
</div>

<!-- Button trigger modal -->


<div class="container" >

    <% question.forEach(function(question) {%>
      <form action="/update/question/<%= question._id %>" method="post"  enctype="multipart/form-data">



    
     
        <div class="card-deck" style="padding-bottom: 3%;" >
         
          <div class="card" style="padding: 3%;" >
        
            <div class="card-body" >
            
              <div class="row"> 
              <div class="col-md-12" >
                  <div class="row"> 
                  <% exam.forEach(function(exam) {%>
                    <% if (JSON.stringify(exam._id) == JSON.stringify(question.exam)) {  %>
                      <% modules.forEach(function(module) {%>
                        <% if (JSON.stringify(module._id) == JSON.stringify(exam.module)) {  %>
                          <% semsters.forEach(function(semster) {%>
                            <% if (JSON.stringify(semster._id) == JSON.stringify(module.semster)) {  %>
                              <% levels.forEach(function(level) {%>
                                <% if (JSON.stringify(level._id) == JSON.stringify(semster.level)) {  %>
                                  <% phases.forEach(function(phase) {%>
                                    <% if (JSON.stringify(phase._id) == JSON.stringify(level.phase)) {  %>
                                      <div class="col-md-12">
                                      <h4 style=" text-align: center; border-bottom: 1px solid black"> <span class="span">رقم  السؤال</span> : <%= question._id %></h4>
                                    </div>
                                      <div class="col-md-6">
                                         
                                        <h4 > <span class="span">المرحلة</span> : <%= phase.Phase %></h4>
                                        <h4><span class="span">الدورة </span> :   <%= exam.Exam %></h4>
                                      </div>

                    <div class="col-md-6"> 
                        <h4 ><span class="span">الطور </span> : <%= level.Level %></h4>
                        <h4><span class="span">الفصل </span> :  <%= semster.Semster %> </h4>
                
                   </div>
               
                <div class="col-md-12"> 
                    <h4 >  <span class="span">المادة</span> : <%= module.Module %> %></h4>
                 
                </div>
                <div class="col-md-12" > 
                    <div class="alert alert-danger" role="alert" style="margin-top: 2%">
                    <h4  style="border-bottom: 2px solid rgb(250, 157, 157)"> رسالة المراجع  :  </h4>
                    <div> 
                   
                      <h5> <%= question.ErrorMessage %></h5>
                     
                      </div> </div></div>
                  <div class="col-md-6"> 
                      <div class="form-group row">
                   <span class="span">الوحد :</span>  
                       
                            <div class="col-sm">
                           <input type="text" name="Chapiter"   placeholder="الوحد " value="<%= question.Chapiter %>" required> 
                            </div>
                    
                    </div>
                     
                  </div>
                  <div class="col-md-6"> 
                      <div class="form-group row">
                           <span class="span">عنوان الدرس :</span>
                           <div class="col-sm">
                           <input type="text" name="Course"  value="<%= question.NameOfCourse %>" required>  
                           </div>
                     </div>
               
                    </div>
                          <% } %>
                           <% }) %>
                 
                       <% } %>
                       <% }) %>

                    <% } %>
                    <% }) %>


                  <% } %>
                  <% }) %>
                </div>
                  <% } %>
                  <% }) %> </div>
                    
                    <div class="col-md-6">
                          <div class="form-group row">
                          <span class="span">نوع السؤال : </span><div class="col-sm">
                            <select name="TypeOfQuestion"  class="form-control"  dir="rtl" >
                          <option selected="selected"><%= question.TypeOfQuestion %></option>
                          <option> تفكير</option>
                          <option> تذكر</option>
                           <option>تطبيق</option>

                  </select> </div>
                          </div>
                        
                      </div>
                    <div class="col-md-6"> 
                        <div class="form-group row">
                       <span class="span">درجة السؤال : </span> 
                       <div class="col-sm">
                       <select name="Difficulty"  class="form-control"  dir="rtl" >
                         <option selected="selected">
                            <%= question.Difficulty %> 
                         </option>
                         <option>سهل </option> 
                           <option>متوسط</option>
                          <option> صعب</option>
                          </select>
                        </div>
                      </div>

             

                    
                      
                    
              
              </div>
             
              <% i = 0 %>
              <div class="col-md-12"> 
                      <h4> السؤال  :  </h4>
                   <div style=" background-color: rgb(242, 255, 239);   border-radius: 8px; margin: 2%;padding: 2%"> 
               
                        <h5>   </h5>
                        <textarea name="Question" id="myArea1" class="textarea"> <%- question.Question %></textarea> 
   
        
                  
                           <% if (question.QuestionImage != "") {%>
                          <img src="/uploads/<%= question.QuestionImage %>" width="80%">
                          <div class="file-field input-field">
                          <div class="btn grey">
                              <span >تحميل صورة</span>
                              <input name="image5" type="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text"  name="image5value" value="<%= question.QuestionImage %>">
                            </div>
                          
                          </div>  
                      <br>
                       <br>  
                        <%}%>
                   </div>
              </div>        <div class="col-md-12" > 
                <div class="row"> 
              <% responses.forEach(function(response) {%>
               
                <% if (JSON.stringify(question._id) == JSON.stringify(response.question)) {%>
                  
              <div class="col-md-6" > 
                
            <div style="   background-color: rgb(242, 255, 239);
            border-radius: 8px; margin: 2%;padding: 2%"> 
             
          
                <% i = i +1 %>
                <% if (response.IsCorrect === true ) { %>
              <p style="color: green; text-align: right">الجواب <%= i  %> </p>
              <% } else { %>
                <p style="color: red;text-align: right">الجواب <%= i  %></p>
                <% } %>
                  <% if (response.ResponseImage != "") {%>
                   
                    <img src="/uploads/<%= response.ResponseImage %>" width="80%">  
                    <div class="file-field input-field">
                        <div class="btn grey">
                          <span>تحميل صورة</span>
                          <input name="image<%= i %>" type="file">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" name="image<%= i %>value" value="<%= response.ResponseImage %>">
                        </div>
                      </div>
                  <%} else { %>
                  
                    <div class="file-field input-field">
                        <div class="btn grey">
                          <span>تحميل صورة</span>
                          <input name="image<%= i %>" type="file">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" name="image<%= i %>value" value="">
                        </div>
                      </div>
                    <%  }%>
                  <%if  (response.ResponseText != "") {%>
                    <textarea style="text-align:right" name="ResponseText<%= i %>" > <%= response.ResponseText %></textarea>
               
                  <%}%>
                </div>
              </div>

           
                <%}%>
              <%})%> 
            </div></div>
        
            <div class="col-md-12" > 

                <h4> الاجابة النموذجية:  </h4>
                <div style="  background-color: rgb(242, 255, 239);
                border-radius: 8px; margin: 2%;padding: 2%"> 
             
                  <h5> <%- question.Response %></h5>
              
            </div>
            
            <div class="col-md-12" > 
                <div class="row"> 
                <div class="col-md-3" > 
                    <h4> اسم المعلم المدخل:  </h4>
                    <div style=" background-color: rgb(242, 255, 239);
                    border-radius: 8px; margin: 2%;padding: 2%;height: 45px""> 
                 
                      <h5> <%= question.Author.Firstname +" " +  question.Author.Lastname  %></h5>
                  
                </div> </div>
                <div class="col-md-3" > 
                    <h4> اسم المعلم المراقب الاول:  </h4>
                    <div style="   background-color: rgb(242, 255, 239);
                    border-radius: 8px; margin: 2%;padding: 2%;height: 45px"> 
                    <% if ( question.TeacherOne != null) { %>
                      <h5><%= question.TeacherOne.Firstname +" " + question.TeacherOne.Lastname %></h5>
                   <% } else { %>
                   <h5></h5>
                   <% } %>
                </div> </div>
                <div class="col-md-3" > 
                    <h4> اسم المعلم المراقل الثاني:  </h4>
                    <div style="   background-color: rgb(242, 255, 239);
                    border-radius: 8px; margin: 2%;padding: 2%; height: 45px" > 
                  <% if ( question.TeacherTwo != null) { %>
                      <h5> <%= question.TeacherTwo.Firstname +" " + question.TeacherTwo.Lastname  %></h5>
                      <% } else { %>
                        <h5></h5>
                        <% } %>
                </div> </div>
                <div class="col-md-3" > 
                    <h4> اسم المعلم المدقق:  </h4>
                    <div style="   background-color: rgb(242, 255, 239);
                    border-radius: 8px; margin: 2%;padding: 2%; height: 45px"> 
                    <% if ( question.TeacherFinal != null) { %>
                      <h5> <%= question.TeacherFinal.Firstname +" " + question.TeacherFinal.Lastname  %></h5>
                      <% } else { %>
                        <h5></h5>
                        <% } %>
                </div> </div></div>


                      <button type="submit" class="btn  btn-success" style="width: 100px" > validi </botton>
              <p class="card-text" style="text-align: center"><small class="text-muted"><%= question.createdAt %></small></p>
            </div> </div>
            <hr>
           
          </div>
         
        </div>       
      </div>
       
   
</div>
      
    </form>
        <%})%> 
</div>

 <br>

 <script type="text/javascript" src="../editor-text/nicEdit.js"></script>
 <script type="text/javascript">
 var area1,area2
  area1 = new nicEditor({fullPanel : true}).panelInstance('myArea1',{hasPanel : true});
  area2 = new nicEditor({fullPanel : true}).panelInstance('myArea2',{hasPanel : true});
 </script>
 

 <script>
   function myFunction() {
     var x = document.getElementById("myTopnav");
     if (x.className === "topnav") {
       x.className += " responsive";
     } else {
       x.className = "topnav";
     }
   }
   </script>
   
   <script
   src="https://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
   crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  



 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 



    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
      
   </body>
</html>
